# Project specific files #
Config.cfg

# Project specific folders #
/bin/
/Logs/
/Menus/
/PhoneNumbers/

# Library Folders #
JAF Docs/

# Eclipse Folders #
.history/
.metadata/

# Package Files #
*.war
*.ear

# Java Files#
*.jar
*.class